<!-- <div class="footerr"> -->
    <!-- <br> -->
    <div class="footer-clean" style="background-color:rgba(0, 218, 73, 0.42);">
        <footer>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a routerLink="service">Veterinarians</a></li>
                            <li><a routerLink="service">School</a></li>
                            <li><a routerLink="service">Polyclinic</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Information</h3>
                        <ul>
                            <li><a routerLink="home">About us</a></li>
                            <li><a (click)="register()">Create an account!</a></li>
                            <li><a (click)="login()">Login</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Сontacts</h3>
                        <ul>
                            <li><a [routerLink]="['/profile/612d2cb027400d67dcbca9ec']">Admin: Dima</a></li>
                            <li><a [routerLink]="['/profile/612d2321c392726d8c6e6d03']">Admin: Markus</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>what do you need</h3>
                        <ul>
                            <li><a routerLink="shop">Products!</a></li>
                            <li><a routerLink="posts">Animals!</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 item social">
                        <p class="copyright">Animal World © 2021</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
<!-- </div> -->
