<form  [formGroup]="form">
        <div class="form-group">
        <mat-label>Curent Password</mat-label>
            <input formControlName="OldPassword" id="userName" type="password"
            [ngClass]="{'invalid': form.get('OldPassword').invalid && form.get('OldPassword').touched}">
        </div>
        <div>
          <mat-label>New Password</mat-label>
              <input formControlName="NewPassword" id="NewPassword" type="password"
              [ngClass]="{'invalid': form.get('NewPassword').invalid && form.get('NewPassword').touched}">
          </div>
        <div>
        <mat-label>Confirm Password</mat-label>
            <input formControlName="NewPassword2" id="NewPassword2" type="password"
            [ngClass]="{'invalid': form.get('NewPassword2').invalid && form.get('NewPassword2').touched}">
            <small center *ngIf="form.get('NewPassword').value != form.get('NewPassword2').value">Invalid password</small>
        </div>
  </form>

  <button type="submit" (click)="onSubmit()" [disabled]="form.invalid || form.disabled || form.get('NewPassword').value != form.get('NewPassword2').value" class="btn btn-primary">Submit
  </button>
  <button class="btn btn-secondary" (click)="close()">Close</button>
