<div class="about">
  <div style="margin-left:45%;margin-right:40%;">
  <button mat-button class="btn" *ngIf="this.dogs" (click)="this.dogs = !this.dogs" mat-button>Dogs</button>
  <button mat-button class="btn" *ngIf="!this.dogs" (click)="this.dogs = !this.dogs" mat-button>Cats</button>
</div>
  <ng-container *ngIf="this.dogs;else cats">
  <div class="blog-card">
    <div class="meta">
      <div class="photo" style="background-image: url(assets/haski.jpg)"></div>
    </div>
    <div class="description">
      <h1>האסקי סיבירי</h1>
      <h2>...</h2>
      <p> גזע כלבים מתמחה במפעל, שגדל על ידי הצ'וצ'י בחלק הצפון מזרחי של סיביר ונרשם על ידי צינולוגים אמריקאים בשנות השלושים ככלב מזחלת שהושג מכלבי האבוריג'ינים של המזרח הרחוק של רוסיה, בעיקר מאנאדיר, קולימה, קמצ'טקה מחוף יושב מקומי. שבטים - יוקאגרים, קרקים, אסקימואים אסייתים ופרימורי צ'צ'צ'י - אנקאלין כלב מזחלת אבוריג'יני מהמזרח הרחוק הוא אחד מגזעי הכלבים הוותיקים ביותר. נכון לעכשיו, גזע האסקי הסיבירי שגדל משמש לא רק ככלב מזחלות, אלא גם ככלב נלווה, כלב ראווה וכלב נחייה.</p>
      <p class="read-more">
        <a href="https://he.wikipedia.org/wiki/האסקי_סיבירי">Read More</a>
      </p>
    </div>
  </div>
  <!---->
  <div class="blog-card alt">
    <div class="meta">
      <div class="photo" style="background-image: url(assets/doberman.jpg)"></div>

    </div>
    <div class="description">
      <h1>דוברמן</h1>
      <h2>...</h2>
      <p>זהו כלב גדול בעל מבנה שרירי אך דק, שנותן רושם של חיה אסופה, דינאמית, פעילה. בהערכת תערוכת השיפוט, ההרמוניה של חוקת החיה והבהירות של קווי הצללית ממלאים תפקיד חשוב. דוברמנים מובחנים בדמות פעילה, אנרגטית, המועדת להפגין תוקפנות. יש להם יצר הגנה מובהק, טריטוריאלי ומטרתו להגן על אדם. יתר על כן, במשפחה שבה כלב זה חי, דוברמנים ידידותיים ואינם תוקפניים כלפי חיות מחמד, כולל ילדים. עם סוציאליזציה נכונה, כלבים אלה מובחנים בנאמנות ובציות לכל בני המשפחה.

ביחס למיני בעלי חיים אחרים, דוברמנים אינם תוקפניים ומתאימים לשמירה משותפת עם חתולים וחיות מחמד אחרות. לנציגים מסוגם. עם מי הם חיים באותה טריטוריה, גם הכלבים האלה אינם תוקפניים.

תוקפנות, המופיעה לעתים קרובות בתיאור של גזע זה, מופנית במיוחד לאנשים ולזרים.

באופן כללי, דוברמנים נוטים להסתגל מאוד לבעלים ולתרגם את התנהגותם ומצב הרוח של הבעלים בהתנהגותם.</p>
      <p class="read-more">
        <a href="https://he.wikipedia.org/wiki/דוברמן_פינצ%27ר">Read More</a>
      </p>
    </div>
  </div>
  <div class="blog-card">
    <div class="meta">
      <div class="photo" style="background-image: url(assets/corgi.jpg)"></div>
    </div>
    <div class="description">
      <h1>קורגי</h1>
      <h2>...</h2>
      <p> חסידים, אוהבים בחרדה את משפחת אדונם. הם נאמנים לכל האנשים ולבעלי חיים אחרים, הם מסתדרים בקלות עם חתולים. הם מתייחסים לילדים בחום רב, במיוחד לילדים קטנים, שומרים עליהם ומגנים עליהם. הם סובלים בשלווה את החיים בעיר. הם מסתגלים לאקלים ללא קושי רב, אך בגלל המעיל העבה מאוד, הם מרגישים טוב יותר במזג אוויר קר מאשר במזג אוויר חם.

זהו כלב עליז וזריז מאוד. קורגים אוהבים לשחק ודורשים המשך אם הבעלים יחליט לסיים את המשחק. הם שומרים על יחסים מצוינים עם כל בני הבית, מבלי להראות בבירור את העדפתם. יחד עם זאת, עם אלה שאינם רוצים לקבל אותם, הם "שומרים מרחק". הם יודעים בדיוק מתי הם יכולים לבוא וללטף, מתי עדיף לא להיראות, מתי אפשר להיות קפריזית, ומתי נדרשת מהם מסירות מלאה.</p>
      <p class="read-more">
        <a href="https://he.wikipedia.org/wiki/ולש_קורגי">Read More</a>
      </p>
    </div>
  </div>
</ng-container>

    <!-- Cats -->
    <ng-template #cats>
  <div class="blog-card alt">
    <div class="meta">
      <div class="photo" style="background-image: url(assets/britanka.jpg)"></div>
    </div>
    <div class="description">
      <h1>חתול קצר שיער בריטי</h1>
      <h2>...</h2>
      <p>חתולים קצרי שיער. ככלל, מדובר בחתולים חזקים וחסונים. הם מגיעים במידות בינוניות עד גדולות. על פי האגדה, הם צאצאים של חתול צ'שייר.
המעיל של החתול הבריטי רך ורך מאוד, אם כי קצר למדי. חתולים בריטים מתאפיינים בצבעים רבים ושונים, ישנם כ -30 גוונים של צבעים במעילם העבה והמפואר, הפופולריים ביותר הם מוצקים (אפור-כחול, כחול, שחור, סגול, שוקולד), טאבי וכסף, זניהם: נקודה, פס ושיש.</p>
      <p class="read-more">
        <a href="https://he.wikipedia.org/wiki/חתול_בריטי_קצר-שיער">Read More</a>
      </p>
    </div>
  </div>

  <div class="blog-card">
    <div class="meta">
      <div class="photo" style="background-image: url(assets/mainkun.jpg)"></div>
    </div>
    <div class="description">
      <h1>מיין קון</h1>
      <h2>...</h2>
      <p> מיין קון היא חתולה ארוכת שיער. המעיל רך ומשיי, המרקם יכול להשתנות בהתאם לצבע המעיל ולסוג הגזע. אורך השיער על הראש והכתפיים קצר יותר, על הבטן ובצדדים הוא ארוך יותר, אצל חלק מהחתולים מפותחת רעמה מקשטת על הצוואר. כמו גזעים אבוריג'ינים רבים, המעיל של מיין קון נתון לשינויים עונתיים, בקיץ הוא בהיר וקצר יותר, בחורף הוא מעט ארוך יותר ועם מעיל תחתון מפותח וצפוף יותר.
המעיל של מיין קון מותאם באופן מושלם לאקלים קשים וקרים. המעיל התחתון הצפוף על הבטן והשיער המוארך ברגליים האחוריות מאפשרים ישיבה על שלג וקרח, פולידותטי ואריכות שיער ארוכות בין הרפידות, המהוות מאפיין חובה של הגזע, מקלות על ההליכה בשלג ו מושווים לעיתים קרובות לנעליים, מכיוון שהם מגדילים את השטח ומעניקים לכפות יציבות נוספת ללא מסת נוספת משמעותית. אוזניים עם ציציות וקטעי שיער מוארכים הצומחים מבפנים עוזרים לחמם את האוזניים.</p>
      <p class="read-more">
        <a href="https://he.wikipedia.org/wiki/ולש_קורגי">Read More</a>
      </p>
    </div>
  </div>

  <div class="blog-card alt">
    <div class="meta">
      <div class="photo" style="background-image: url(assets/bengal.jpg)"></div>
    </div>
    <div class="description">
      <h1>חתול בנגלי</h1>
      <h2>...</h2>
      <p> דמותם של חתולי בנגל משלבת מזג של חיית בר וחיית מחמד. לבנגלים יש אינסטינקט ציד מפותח. בכל גיל, הם מזהים את משחקי ה"ציד " - מירוץ אחר כדורים וצעצועים, לתפוס כפפות, לרדוף ולרדוף. חי טוב בחבילה. הם משתוללים במהירות כשהם מוחזקים בכלא. כאשר מגדלים חתלתולים, חשוב מאוד לאמן אותם ביד, אחרת הם עלולים לצמוח פרא. בניגוד לשמועות, בנגלים אינם צמאי דם ואינם תוקפניים. הם אינם מהווים סכנה לילדים ולחיות מחמד (למעט מכרסמים וציפורים). הם לומדים בקלות לתפוס עכברים, אך לעתים רחוקות אוכלים אותם.</p>
      <p class="read-more">
        <a href="">Read More</a>
      </p>
    </div>
  </div>
</ng-template>
</div>
